body,
html {
  height: 100%;
}

.sidebar-span-2-rows {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 20rem 8rem;
  gap: 50px;
  size: auto;
}

.container {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-template-rows: 0.3fr 0.9fr;
  height: 100%;
}

.sidebar-span-2-rows {
  grid-row: span 2;
}
